= form_with(model: @resource, local: true) do |form|
  - if @resource.errors.any?
    %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
    %ul
      - @resource.errors.full_messages.each do |message|
        %li= message

  .field
    = form.label :name
    = form.text_field :name
    
  .actions
    = form.submit 'Save'
